In [85]:
import os, random, sys, time
# from urllib.parse import urlparse
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import pandas as pd
from selenium.common.exceptions import NoSuchElementException
from statsmodels.tsa.seasonal import seasonal_decompose
import statsmodels.api as sm
import numpy as np
import copy
from langdetect import detect
from googletrans import Translator
from LinkedIn_Scraper1 import scrape_linkedin
from Glassdoor_Scraper1 import scrape_glassdoor
from Detect_New_Entries import merge_new_entires, detect_new_entires
import time
date_string = time.strftime("%Y-%m-%d-%Hh")

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)


# DETECT LANGUAGE
def detect_language(lkdin_df, column = "Specialties"):
    languages = []
    for speciality in lkdin_df[column]:
        if pd.isnull(speciality):
            languages.append("NoText")
        else:
            string = str(speciality)
            languages.append(detect(string))
    return languages


# TRANSLATE
def translate_list(list_specialities, columns="Specialties"):
    translatedList = []
    for speciality in list_specialities[columns]:
        temporal_place = []
        ################################# ORIGINAL STRING
        temporal_place.append(speciality)

        ################################# REINITIALIZE THE API
        translator = Translator()
        time.sleep(round(random.uniform(1, 2),2))

        try:
            ################################# TRANSLATE
            temporal_place.append(translator.translate(speciality, dest='en').text)
        except Exception as e:
            print(str(e))
            temporal_place.append("")
            continue

        translatedList.append(temporal_place)
        print(len(translatedList),"-",round(len(translatedList)/len(list_specialities)*100,2),"% completed.")
    return translatedList

In [86]:
# GENERATE INPUT FILE FOR MACHINE LEARNING
################################# READ
lkdin_df = pd.read_excel('Linkedin_Scraping_Translated.xlsx')  # File from LinkedIn  Linkedin_Scraping_Translated
df_to_transl = lkdin_df[lkdin_df["Translated?"]!=1]
print("New Leads:",len(df_to_transl))

New Leads: 12

In [87]:
df_to_transl

       Unnamed: 0                             Name                         Web_Name                        Website             Phone                          Industry           Company size                        Headquarters            Type  Founded                                        Specialties  Translated? Translation
33721           0               sae-smb industries               SAE-SMB Industries         http://www.sae-smb.com               NaN                        Automotive       51-200 employees            Ham les moines, Ardennes  Privately Held   1947.0                                                NaN          NaN         NaN
33722           1  slovak university of technology  Slovak University of Technology                            NaN               NaN                               NaN                    NaN                                 NaN             NaN      NaN                                                NaN          NaN         NaN
33723           2           industriteknik robi ab                              NaN                            NaN               NaN                               NaN                    NaN                                 NaN             NaN      NaN                                                NaN          NaN         NaN
33724           3                  am technologies                  AM Technologies                            NaN               NaN                               NaN                    NaN                                 NaN             NaN      NaN                                                NaN          NaN         NaN
33725           4                  giddin graphics                              NaN                            NaN               NaN                               NaN                    NaN                                 NaN             NaN      NaN                                                NaN          NaN         NaN
33726           5                             sibe                             SIBE          http://www.sibe.co.uk               NaN                   Broadcast Media        11-50 employees                                 NaN       Nonprofit   2011.0  Production and broadcast of live interactive T...          NaN         NaN
33727           6          craft irish whiskey co.          Craft Irish Whiskey Co.  https://craftirishwhiskey.com  +353 1 437 8570                   Food & Beverages         2-10 employees                                 NaN  Privately Held      NaN                                                NaN          NaN         NaN
33728           7                     camelprint3d                              NaN                            NaN               NaN                               NaN                    NaN                                 NaN             NaN      NaN                                                NaN          NaN         NaN
33729           8                           maflow                           Maflow                            NaN               NaN                        Automotive  1,001-5,000 employees                                 NaN  Privately Held      NaN                                                NaN          NaN         NaN
33730           9    waterfall pumps manufacturing    Waterfall Pumps Manufacturing         http://www.wfpumps.com      +97142633325                     Public Safety        11-50 employees  Al Khawaneej, Al T'tay Area, Dubai  Privately Held   2015.0  Fire Pumps, Fire Protection Products, Split Ca...          NaN         NaN
33731          10                      r&l designs               Ryder System, Inc.           http://www.ryder.com               NaN  Transportation/Trucking/Railroad      10,001+ employees                           Miami, FL  Public Company   1933.0  Transportation, Logistics and Supply Chain, Tr...          NaN         NaN
33732          11                    robotronic ag                    Robotronic AG       http://www.robotronic.ch               NaN                         Machinery        11-50 employees                      Winterthur, ZH  Public Company   2007.0  MRT-Verpackungsmaschinen, MRT-Sondermaschinen ...          NaN         NaN

In [88]:
################################ DETECT LANGUAGE
df_to_transl["Specialties"] = df_to_transl["Specialties"].replace('.', np.nan)
languages = detect_language(df_to_transl, "Specialties")
df_to_transl['Languages'] = np.array(languages)

################################# TRANSLATE COMENTS
list_specialities = df_to_transl[df_to_transl["Languages"]!= "en"] # NOT ENGLISH
list_specialities = list_specialities[list_specialities['Languages']!="NoText"] # NOT NAN
print("Leads that need to be translated:", len(list_specialities))
translatedList = translate_list(list_specialities)

################################# JOIN THE TRANSLATED PART TO THE ORIGINAL DATAFRAME
df_to_transl = df_to_transl.drop(["Translation"], axis=1)
df_translation = pd.DataFrame(translatedList, columns=["Original","Translation"])
df_to_transl2 = df_to_transl.merge(df_translation, left_on='Specialties', right_on='Original', how='left')
df_to_transl2['Translation'] = df_to_transl2['Translation'].fillna(df_to_transl2['Specialties'])
df_to_transl3 = df_to_transl2.drop(columns="Original")
df_to_transl3["Translated?"] = 1

################################# MERGE DATAFRAMES AGAIN
already_transl = lkdin_df[lkdin_df["Translated?"]==1]
lkdin_df3 = already_transl.append(df_to_transl3)

lkdin_df3 = lkdin_df3[lkdin_df3.columns.drop(list(lkdin_df3.filter(regex='Unnamed:')))] # drops all cols with unnamed

lkdin_df3.to_excel("Linkedin_Scraping_Translated.xlsx")
lkdin_df3.to_excel(f'backups_scrape/Linkedin_Scraping_Translated{date_string}.xlsx')

C:\Users\solej\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\solej\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

Leads that need to be translated: 1
1 - 100.0 % completed.

In [89]:
################################# TRANSLATE GLASSDOOR
revenue_df = pd.read_excel('Glassdoor_Scraping_Revenue.xlsx')       # File from scrape_glassdoor
df_to_transl_glsdr = revenue_df[revenue_df["Translated?"]!=1]
print("\nNew Leads:",len(df_to_transl_glsdr))
df_to_transl_glsdr

New Leads: 2

       Unnamed: 0                 Name Sitio web Sede Tamaño Fundada en Tipo Sector Ingresos  Translated? Translation_sector
32180          82         poncin metal       NaN  NaN    NaN        NaN  NaN    NaN      NaN          NaN                NaN
32181          85  lycée la decouverte       NaN  NaN    NaN        NaN  NaN    NaN      NaN          NaN                NaN

In [90]:
################################# TRANSLATE SECTORS
unique_sectors = pd.DataFrame(df_to_transl_glsdr['Sector'].unique(), columns=["Sectors"])
translatedList_glsdr = translate_list(unique_sectors, "Sectors")
df_to_transl_glsdr
################################# JOIN THE TRANSLATED PART TO THE ORIGINAL DATAFRAME
df_to_transl_glsdr = df_to_transl_glsdr.drop(["Translation_sector"], axis=1)
df_translation_glsdr = pd.DataFrame(translatedList_glsdr, columns=["Original","Translation"])
df_to_transl2_glsdr = df_to_transl_glsdr.merge(df_translation_glsdr, left_on='Sector', right_on='Original', how='left')
df_to_transl3_glsdr = df_to_transl2_glsdr.drop(columns="Original")
df_to_transl3_glsdr["Translated?"] = 1

################################# MERGE DATAFRAMES AGAIN
already_transl = revenue_df[revenue_df["Translated?"]==1]
glsdr_df3 = already_transl.append(df_to_transl3_glsdr)

glsdr_df3 = glsdr_df3[glsdr_df3.columns.drop(list(glsdr_df3.filter(regex='Unnamed:')))] # drops all cols with unnamed
glsdr_df3 = glsdr_df3.drop(["Translation"], axis=1)

# glsdr_df3 = glsdr_df3.rename(columns={"Translation": "Translation_sector"})
                                      
glsdr_df3.to_excel("Glassdoor_Scraping_Revenue.xlsx")
glsdr_df3.to_excel(f'backups_scrape/Glassdoor_Scraping_Revenue{date_string}.xlsx')
glsdr_df3

'float' object is not iterable

           Fundada en                               Ingresos                   Name                                             Sector                             Sede                  Sitio web                    Tamaño             Tipo  Translated?                                 Translation_sector
0                2015      De 10 a 25 millones (EUR) por año     Between Technology                                    Servicios de TI                        Barcelona           www.between.tech    De 201 a 500 empleados  Empresa privada          1.0                                        IT services
1      Desconocido(a)  De 1000 a 2000 millones (EUR) por año                Grammer               Fabricación de equipos de transporte       Amberg, Baviera (Alemania)            www.grammer.com   Más de 10 000 empleados  Empresa privada          1.0                 Manufacture of transport equipment
2                1912   De 500 a 1000 millones (EUR) por año  Kostal eléctrica, s.a  Fabricación de productos eléctricos y electrón...           Lüdenscheid (Alemania)             www.kostal.com  De 1001 a 5000 empleados  Empresa privada          1.0  Manufacture of electrical and electronic products
3      Desconocido(a)       Desconocido/No aplicable por año                 Taurus                                     Desconocido(a)  Little Elm, TX (Estados Unidos)  www.tauruscorporation.com       De 1 a 50 empleados   Desconocido(a)          1.0                                        Unknown (a)
4      Desconocido(a)       Desconocido/No aplicable por año          Comisa s.p.a.                    Agencias regionales y estatales                           Madrid                www.cnmc.es               Desconocido  Empresa pública          1.0                        regional and state agencies
...               ...                                    ...                    ...                                                ...                              ...                        ...                       ...              ...          ...                                                ...
32177            1988       Desconocido/No aplicable por año                   lafi                                     Desconocido(a)          Gennevilliers (Francia)                www.lafi.fr     De 51 a 200�empleados   Desconocido(a)          1.0                                                NaN
32178             NaN                                    NaN           poncin metal                                                NaN                              NaN                        NaN                       NaN              NaN          1.0                                                NaN
32179             NaN                                    NaN    lycée la decouverte                                                NaN                              NaN                        NaN                       NaN              NaN          1.0                                                NaN
0                 NaN                                    NaN           poncin metal                                                NaN                              NaN                        NaN                       NaN              NaN          1.0                                                NaN
1                 NaN                                    NaN    lycée la decouverte                                                NaN                              NaN                        NaN                       NaN              NaN          1.0                                                NaN

[32182 rows x 10 columns]

In [91]:
################################# MERGE
revenue_df = glsdr_df3      # File from scrape_glassdoor
original_leads = pd.read_excel('data/NewData.xlsx')
original_leads['Company'] = original_leads['Company'].str.lower()

revenue_df = revenue_df[['Name','Tamaño','Ingresos', 'Translation_sector']]
revenue_df = revenue_df.rename(columns={"Name": "Company",
                                    "Tamaño": "GlsDr_Company size",
                                    "Ingresos": "GlsDr_Income",
                                    "Translation_sector": "GlsDr_Industry"})
revenue_df['Company'] = revenue_df['Company'].str.lower()

lkdin_df3 = lkdin_df3[['Name','Web_Name','Industry','Company size','Headquarters','Specialties', 'Translation']]
lkdin_df3 = lkdin_df3.rename(columns={"Name": "Company",
                                    "Industry": "LkdIn_Industry",
                                    "Web_Name": "LkdIn_Web_Name",
                                    "Company size": "LkdIn_Company_size",
                                    "Headquarters": "LkdIn_Headquarters",
                                    "Specialties": "LkdIn_Specialties",
                                     "Translation" : "LkdIn_Translation"})
lkdin_df3['Company'] = lkdin_df3['Company'].str.lower()

result = lkdin_df3.merge(original_leads, left_on='Company', right_on='Company', how='right')

result = result.merge(revenue_df, left_on='Company', right_on='Company', how='left')

result = result[result.columns.drop(list(result.filter(regex='Unnamed:')))] # drops all cols with unnamed
print("Saving the results on:", date_string)
result.to_excel("Results_Verticals_Salesforce.xlsx")
result.to_excel(f'backups_scrape/Results_Verticals_Salesforce{date_string}.xlsx')

Saving the results on: 2020-07-09-09h

NameError: name 'metrics' is not defined